//- Placeholder for images
mixin phimage(width, height, bgColor)
    if projectName
        img(data-src="holder.js/" + width + "x" + height + "?bg=" + bgColor + "&auto=yes&text=" + projectName)&attributes(attributes)
    else
        img(data-src="holder.js/" + width + "x" + height + "?bg=" + bgColor + "&auto=yes")&attributes(attributes)

//- Navigation
//- @param items json [{title: "Главная", link: "main.html"}, ...]
mixin navigation(className, items)
    //- role="navigation"
    nav(class=className)&attributes(attributes)
        ul
            each value, index in items
                -var tabIndex =  index + 1
                li
                    if value.title == pageTitle
                        a(aria-current="page" tabindex=tabIndex href=value.link title=value.title)!= value.title
                    else
                        a(tabindex=tabIndex href=value.link title=value.title)!= value.title

//- SVG
mixin icon(name,mod)
    - mod = mod || ''
    svg(class="icon icon-" + name + ' ' + mod)&attributes(attributes)
        use(xlink:href="#icon-" + name)

mixin breadcrumbs(items, pageTitle=false, color=false)
    .breadcrumbs
        ol(itemscope itemtype="http://schema.org/BreadcrumbList")
            each item, index in items
                li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                    a.link(itemscope itemtype="http://schema.org/Thing" itemprop="item" href=item.link)
                        span(itemprop="name")!= item.name
                    meta(itemprop="position" content=index + 1)
            if pageTitle
                li
                    span(itemprop="name")!= pageTitle

//- Form elements
mixin formField(id, name, label, inputType, ph)
    .form_field
        .form_field_name
            label(for=(id+'-'+name))!= label
        .form_field_input
            if inputType === 'area'
                textarea(id=(id+'-'+name) name=name placeholder=ph)&attributes(attributes)
            else
                input(id=(id+'-'+name) name=name type=inputType placeholder=ph value="")&attributes(attributes)
            .form_field_input_border

mixin formFieldText(id, label, ph)
    .form_field&attributes(attributes)
        .form_field_name
            label(for=id)!= label
        .form_field_input
            input(id=id name=id type="text" placeholder=ph value="")
            .form_field_input_border

mixin formFieldFile(id, label)
    .form_field&attributes(attributes)
        .form_field_name
            label(for=id)!= label
        .form_field_input
            input(id=id name=id type="file" value="")

mixin formFieldArea(id, label, ph)
    .form_field
        .form_field_name
            label(for=id)!= label
        .form_field_input
            textarea(id=id name=id placeholder=ph)
            .form_field_input_border

mixin formFieldSelect(id, label, options, name)
    .form_field&attributes(attributes)
        if label
            .form_field_name
                label(for=(id+'-'+name))!= label
        .form_field_select
            select(id=(id+'-'+name) name=id)
                each val, index in options
                    option(value=val)!= val